## Lecture 3 Fundamentals of Python programming 1

Python is a simple programming language. It is straightforward and the most popular language in the world today. Learning the basics of Python won't take too much of your time.

Let's start with a simple example: print "Hello world" on your screen. This is used as the first example for almost any of the computer languages.

In [26]:
print("Hello World") # print is a function in python which print the argument onto the screen

Hello World

In [1]:
print('Hello World')

Hello World

#### what if you want to print something include the quote character " inside of a string?

In [1]:
print("Min says "hello world!") # this will cause an error because python expects the string stops at the second "

SyntaxError: invalid syntax (432481286.py, line 1)

In [20]:
print("Min's course is interesting.")
print("Min says 'hello world!'")
print('Min says "hello world!"')
print('Min"s course is interesting.')

Min's course is interesting.
Min says 'hello world!'
Min says "hello world!"

In [3]:
print("Min says \"hello world!")

Min says "hello world!

Learning Python is very similar to learning a human language. 
***
### <center> Vocabulary + Grammar </center>
***

## <center> "Vocabulary" </center>
### Python Reserved Keywords
from https://www.w3schools.com/python/python_ref_keywords.asp

|Keyword|	Description|
|---|---|
|**and**|	A logical operator|
|**as**|	To create an alias|
|assert|	For debugging|
|**break**|	To break out of a loop|
|class|	To define a class|
|continue|	To continue to the next iteration of a loop|
|**def**|	To define a function|
|del|	To delete an object|
|**elif**|	Used in conditional statements, same as else if|
|**else**|	Used in conditional statements|
|except|	Used with exceptions, what to do when an exception occurs|
|**False**|	Boolean value, result of comparison operations|
|finally|	Used with exceptions, a block of code that will be executed no matter if there is an exception or not|
|**for**|	To create a for loop|
|**from**|	To import specific parts of a module|
|global|	To declare a global variable|
|**if**|	To make a conditional statement|
|**import**|	To import a module|
|**in**|	To check if a value is present in a list, tuple, etc.|
|**is**|	To test if two variables are equal|
|lambda|	To create an anonymous function|
|None|	Represents a null value|
|nonlocal|	To declare a non-local variable|
|**not**|	A logical operator|
|**or**|	A logical operator|
|pass|	A null statement, a statement that will do nothing|
|raise|	To raise an exception|
|**return**|	To exit a function and return a value|
|**True**|	Boolean value, result of comparison operations|
|try|	To make a try...except statement|
|**while**|	To create a while loop|
|with|	Used to simplify exception handling|
|yield|	To end a function, returns a generator|


***

## <center> "Grammar" </center>
### 1. Python variables
#### 'Variable' is key element in every programming language. It is used to store information that you will reuse in your code. Examples inlcude:
- numeric values
- strings such as file names, paths
- an array of values
- more complex data such as time series and remote sensing images

In [5]:
s1 = "Calulate"
x = 1
s2 = "+"
y = 2

z = x + y
print(s1, x, s2, y)
print("Answer is", z)

Calulate 1 + 2
Answer is 3

You can use type() to see the type of a variable:

In [19]:
type(s1)

str

In [6]:
print(type(x))

z = x/y
print(z)
print(type(z))
print(int(z))

<class 'int'>
0.5
<class 'float'>
0

In [8]:
L = [1,2,3,4,5]
print(L)
print(L[1])
l = ["jan",'Feb','March']
print(l[1])

A = [1,3,"Jan"]
print(A)

[1, 2, 3, 4, 5]
2
Feb
[1, 3, 'Jan']

In [7]:
L = [1, 2, 3, 4, 5]
print(L[0])
print(L[1])
print(L[4])
print(L[len(L)-1])
print(L[-1])

1
2
5
5
5

In [11]:
ScoreList = [["JOhn", "Nick", "Morgan"],[100,100,100]]
print(ScoreList)
print(type(ScoreList))

[['JOhn', 'Nick', 'Morgan'], [100, 100, 100]]
<class 'list'>

Update items in a list

In [15]:
L = [1, 2, 3, 4, 5]
L[2] = 99
print(L)
L[-1] = 75
print(L)

[1, 2, 99, 4, 5]
[1, 2, 99, 4, 75]

In [9]:
L = [1, 2, 3, 4, 5]
L[1] = 10
print(L)

[1, 10, 3, 4, 5]

Insert an item in a list

In [14]:
L = [1, 2, 3, 4, 5]
L.insert(len(L)+1,2.5)
print(L)

[1, 2, 3, 4, 5, 2.5]

Delete Items From a Python List

In [16]:
L = [1, 2, 3, 4, 5]
del(L[2])
print(L)
del(L[2])
print(L)

[1, 2, 4, 5]
[1, 2, 5]

In [19]:
# Append an Item to a Python List
L = [1, 2, 3, 4, 5]
L.append(-1000)
print(L)

print(L + [1])

[1, 2, 3, 4, 5, -1000]
[1, 2, 3, 4, 5, -1000, 1]

In [7]:
L = [1] * 100
print(L)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [13]:
# create a list of single item repeated N times
# this is a single-line comment for python
L = ["item"] * 10
"""
this is a multiple line comment
for python
"""
# this is a multiple line comment
# for python

print(L)

['item', 'item', 'item', 'item', 'item', 'item', 'item', 'item', 'item', 'item']

In [17]:
# create a list of 10 "1" and 10 "ONE"
L = [1,1,1,1,1,1,1,1,1,1,"ONE","ONE", "ONE", "ONE", "ONE", "ONE", "ONE", "ONE", "ONE", "ONE"]

L = [1] * 100 + ["ONE"] * 100
"""
this is a multiple line comment
for python
"""
print(L)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE', 'ONE']

In [19]:
# create a list of number 1 to N
L = list(range(1, 5)) # range(1, N) 1,2,3,4,...,N-1
print(L)

L = list(range(0, 5))
print(L)

L = list(range(10, 5, -2))
print(L)

L = list(range(1, 6))
print(L)

# Use numpy
import numpy
L = list(numpy.arange(1,5))
print(L)

[1, 2, 3, 4]
[0, 1, 2, 3, 4]
[10, 8, 6]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]

### 2. Basic rules of writing a python code
#### 2.1 Indentation
- Indentation means the spaces at the beginning of a code line.
- Indentation in Python is important because Python uses indentation to indicate a code block.
- Indentation could be one or more spaces/tabs. Usually four spaces is recommended.
- Most coding tools including Jupyter Notebook support auto indentation.

#### 2.2 Comments
- It is a good habit to write comments while coding
- Use # for single-line comment
- Use """ for mult-line comments

In [26]:
x = 4
if x < 3:
    print("x is", x)
    zz = 2
print(zz)

NameError: name 'zz' is not defined

In [3]:
# This is an example for python comment
a = 1 # assign 1 to variable a

"""
now let's append a to a list
The list is the L we used above
"""
L = [1, 2, 3, 4]
print(L)
L = L + [a]
print(L)

[1, 2, 3, 4]
[1, 2, 3, 4, 1]

In [29]:
a = "1"
b = float(a)
print(a, b)

c = int(b)
print(c)

1 1.0
1

In [6]:
L = [1, 2, 3, 4]
print(L[a])

2

### 3. Python operators

### Operators in Python
See https://www.w3schools.com/python/python_operators.asp
Below list several most frequently used ones

|Keyword|	Description|
|---|---|
|+|addition|
|-|substraction|
|*|multiplication|
|/|division|
|%|modulus|
|**|exponetiation|
|//|floor division|
|=|assignment|
|==|equal|
|!=|not equal|
|>|greater than|
|<|less than|
|>=|greater than or equal to|
|<=|less than or equal to|
|and|Returns True if both statements are true|
|or|Returns True if one of the statements is true|
|not|Reverse the result, returns False if the result is true|
|in|Returns True if a sequence with the specified value is present in the object|
|not in|Returns True if a sequence with the specified value is not present in the object|

In [8]:
a = 3 + 2
b = a * 9
c = b ** 0.5 # c = square root of b
print(a, b, c)

print(27%5*1000/33**2)
print(27//5)

5 45 6.708203932499369
1.8365472910927456
5

In [12]:
months = ["Jan", "Feb", "March"]
months = months + ["April"]
print(months)
print(months * 3)

['Jan', 'Feb', 'March', 'April']
['Jan', 'Feb', 'March', 'April', 'Jan', 'Feb', 'March', 'April', 'Jan', 'Feb', 'March', 'April']

In [14]:
# Arithmetic Assignment
# x *= y is the same as x = x * y
a = 15.34
a *= 3 # the same as a = a * 3
print(a)

a = 2
a += 5 # a = a + 5
print(a)

46.019999999999996
7

In [15]:
# relational operators

# is a < b?
a = 3
b = 10
print(a > b)

print(a == b)

print(a < b)

False
False
True

In [16]:
# membership operator
months = ['Jan', 'Feb', 'March', 'April']
'May' in months

False

In [23]:
# logical operators
months = ['Jan', 'Feb', 'March', 'April']
# TRUE and TRUE
print('Jan' in months and 1 < 4)

# TRUE or TRUE
print('Jan' in months or 1 < 4)

# TRUE and FALSE
print('Jan' in months and 1 > 4)

# TRUE or FALSE
print('Jan' in months or 1 < 4)

# FALSE and FALSE
print('jan' in months and 1 > 4)

# FALSE or FALSE
print('jan' in months or 1 > 4)

True
True
False
True
False
False

In [18]:
# Identity Operators
a = 3
b = 3
print(a == b)
print(a is b)

a = 3
b = 3.0
print(a == b)
print(a is b)

L1 = [1,2,3]
L2 = ["ONE","TWO","THREE"]
print(L1 == L2)
print(L1 is L2)

print(L1 is not L2)

True
True
True
False
False
False
True